<div class="row">
  <div class="col-xs-12">
    <h1>Hello, this is Angular 2 with Webpack</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>What is this?</h2>
    <p>
      This boilerplate follows the 
      <span>
        <a href="https://angular.io/docs/ts/latest/guide/webpack.html">
          angular.io webpack introduction
        </a>
      </span> 
      with some minor changes, as well as the inclusion of sass loading and
      other stuff (see below).  See the
      <span>
        <a href="https://github.com/apmiller108/angular2_webpack_starter">
          docs
        </a>
      </span> if you want.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>What's included:</h2>
    <ul>
      <li>Typescript</li>
      <li>An opinionated Tslint configuration</li>
      <li>Karma for running tests</li>
      <li>Jasmine testing framework</li>
      <li>Webpack configurations for test, development and production environments</li>
      <li>Flexbox Grid</li>
    </ul>
  </div>
</div>
